<!--<app-nav-bar></app-nav-bar>-->
<!--<app-header></app-header>-->

<!--<div class="card-deck">-->
    <!--<div class="card" *ngFor="let product of productList;">-->
        <!--<img src="http://localhost:8009/upload/images/{{product.image}}" class="card-img-top" alt="..." style="height: 180px; width: 150px;">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">{{product.name}}</h5>-->
            <!--<p class="card-text">{{product.description}}</p>-->
            <!--<h6>{{product.unit_price}}</h6>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
            <!--<button class="btn btn-primary">ADD CARD</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

